/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

/* variables */
:root {
  --primary_text: #4f515a;
  --warning_text: #da0f41;
}

a {
  text-decoration: none;
  color: var(--primary_text);
}

/* error text */
.error {
  color: var(--warning);
  font-size: 14px;
  margin: 16px 0;
}